.env
api_requests.log
confusion_matrix.png


__pycache__/
*.py[cod]
*$py.class

.venv/
venv*/
env*/
ENV*/
venv-dashboard

.ipynb_checkpoints/

.vscode/

.env

api_requests.log

*.egg
*.egg-info/
dist/
build/
*.eggs/

*.keras
*.pkl
*.json
*.png

.DS_Store
Thumbs.db

*.spec

test_data_for_simulation.csv

ProcessedFeatures.csv
ProcessedLabels.csv